body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6rem;
  background: #d6e1f0;
  color: rgb(241, 241, 241);
}
.app {
  width: 70%;
  min-width: 400px;
  max-width: 800px;
  background: rgb(145, 115, 246);
  border-radius: 14px;
  padding: 20px 40px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.307);
  cursor: pointer;
  transition: 0.2s;
  margin: 100px;
}
.app:hover {
  transform: scale(1.01);
}

a.button7 {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 50px 0.3em 0.3em 0;
  margin-bottom: 100px;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.button7:hover {
  transform: scale(1.1);
}
a.button7:active {
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}
@media all and (max-width: 30em) {
  a.button7 {
    display: block;
    margin: 0.4em auto;
  }
}
